/*general styling*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
body {
    text-align: center;
    background: url('../img/site-bg2.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;

    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Fuzzy Bubbles', cursive;
    color: rgb(14, 14, 1);
}
/*content section*/
.container {
    text-align: center;
}
#content{
    position: relative;
    margin: auto;
    margin-top: 220px;
    padding: 20px;
    width: 25%;
    height: 25vh;
    background-color: rgba(97, 229, 255, 0.6);
    box-shadow: 0px 0px 3px 3px rgb(16, 36, 113);
    border: none;
    border-radius: 10%;
}
#content h1{
    font-size: x-large;
}